/* FILE: apps/storefront/src/themes/basit/styles/components/buttons.css */

.mk-root[data-theme-code="basit"] .mk-btn{
  border: none;
  border-radius: calc(var(--mk-radius-md) - 2px);
  height: 44px;
  padding: 0 14px;
  font-weight: 900;
  cursor: pointer;
}

.mk-root[data-theme-code="basit"] .mk-btn--full{
  width: 100%;
}

.mk-root[data-theme-code="basit"] .mk-btn--sm{
  height: 36px;
}

.mk-root[data-theme-code="basit"] .mk-btn--md{
  height: 44px;
}

.mk-root[data-theme-code="basit"] .mk-btn--lg{
  height: 48px;
}

.mk-root[data-theme-code="basit"] .mk-btn--primary{
  background: var(--mk-color-primary);
  color: #fff;
}

.mk-root[data-theme-code="basit"] .mk-btn--secondary{
  background: #fff;
  color: var(--mk-text-main);
  border: 1px solid var(--mk-border-medium);
}

.mk-root[data-theme-code="basit"] .mk-btn--ghost{
  background: transparent;
  color: var(--mk-text-main);
}